.menu_fixed_to_sticky {
	z-index: 1;
}
.main-navigation {
    display: flex;
	width: calc(100vw - 1rem);
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
	background: rgba(0, 0, 0, 0.6);
	&.sticky_menu {
		position: fixed;
		height: 5.25rem;
		background-color: black;
		box-shadow: -1px 21px 50px -16px rgba(255,255,255,0.81)
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}
}	

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		margin-right: 1rem

	}

	a {
		display: block;
		text-decoration: none;
		color: map-get($map: $colors, $key: broken_white);
	}
	@media screen and (max-width: 767px) {
		padding: 0 1rem;
		justify-content: space-around;
	}

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
